
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


body{
    background: linear-gradient(140deg, #F6E8EA, #5DE9BD);
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#poke_container{
    display: flex;
    flex-wrap: wrap;
    max-width: fit-content;
    justify-content: space-between;

}

.pokemon{
    border-radius: 20px   ;
    margin: 20px;
    padding: 15px;
    text-align: justify;
    width: 250px;
    box-shadow: 9px 6px 20px -5px rgba(0, 0, 0, 0.39);
    transition: all .2s ease-in-out;
}

.pokemon:hover{
    transform: scale(1.1);
}
.pokemon .name{
    text-align: center;
}

.pokemon .img-container{
    justify-content: center;
    display: flex;
    border-radius: 50%;
    align-items: center;
}

.pokemon .img-container img{
    width: 100px;
    height: 100px;
    transition: all .2s ease-in-out;
}
.pokemon .img-container img:hover{
    transform: scale(1.1);
}

.pokemon .name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FF5C85;
    background-color: #EBEFBF;
    padding: 7px 0px 7px 0px;
    border-radius: 40px;
    margin: 0px 20px 0px 20px;
}

.pokemon .ability,.move,.weight{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #FF5C85;
}

.pokemon span {
    font-family: 'Nunito', sans-serif;
    color: #2C79DD;
}